.card-content{
	font-size: 23px;	
}

.dropdown-button{
	font-size: 30px;
	color: black;
}

.sign_up{
width:75%;
margin:auto;
background: transparent;
}

.center{
	margin-top:20%;
	font-size: 20px;
	text-align: center;
}

#buscar{
	margin-left: 20%;
	margin-right: 25%;
}

.login{
	size: 100px;
	background: transparent;
	width: 30%;
	margin: auto;
}


#logo{
	margin-right: 10.5%;
	width:90px;
	height:70px;
}

#titulo{
	color:black;
}
