.card-content{
	font-size: 23px;	
}

.dropdown-button{
	font-size: 30px;
	color: black;
}

.center{
	margin-top:20%;
	font-size: 20px;
	text-align: center;
}

#buscar{
	margin-left: 20%;
	margin-right: 25%;
	color: black;
}

.login{
	size: 100px;
	background-color: #CCCCCC;
	width: 30%;
	margin: auto;
	bottom: 20%;
}


#logo{
	margin-right: 10.5%;
	width:90px;
	height:70px;
}

#titulo{
	color:black;
}

 .parallax-container {
      height: 1000px;
    }
