.card-content{
	font-size: 23px;
	
}

.dropdown-button{
	font-size: 30px;
}
#titulo{
	font-size: 25px;
	
}

.login{
	size: 100px;
	background: transparent;
	width: 30%;
	margin: auto;

}
.center{
	font-family: bold;
	margin-top:20%;
	font-size: 20px;
	text-align: center;
}
#logo{
	size:35px;
}